body {
   font-family: Arial, sans-serif;
   line-height: 1.5;
   background-color: #fff;
   box-sizing: border-box;
   max-width: 90%;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 16px;
}

img {
   padding: 1rem;
}

.title {
   text-align: left;
}

.mems {
   margin: 10% auto;
}

.mem-item {
   position: relative;
   border-right-style: none;
   border-left-style: none;
   margin-bottom: 3%;
   cursor: pointer;
}

.mem1-title {
   border-bottom: .1rem solid #000000;
}

.icon1 {
   position: absolute;
   right: 5%;
   top: 15px;
   opacity: 0;
   transition: .3s;
   transform: rotate(45deg);
}

.mems:hover .icon1 {
   opacity: 1;
}

.mem1-title {
   display: block;
   font-weight: 700;
   cursor: pointer;
   padding: 1rem .5rem .5rem .5rem;
   transition: .3s ease-in-out;
}

.mems:hover .mem1-title {
   color: rgb(1, 121, 81);
}

.mem-input {
   width: 0%;
   height: 0%;
   appearance: none;
   position: absolute;
}

.mem1-img {
   height: 0;
   padding: .9rem;
}

.mem-input:checked+.mem1-img {
   height: auto;
}

.mem-input:checked+.mem1-img .icon1 {
   transform: translate(0);
}

.mem-input:checked+.mem1-img .mem1-title {
   color: #000000;
}

.mem-item:hover .mem1-img {
   height: auto;
}

.icon2 {
   position: absolute;
   left: 74%;
}

.mem_3,
.mem_4,
.mem_2,
.mem_1 {
   width: 90%;
   height: 30%;
   display: block;
   margin: auto;
}

.mems:hover .icon1 {
   opacity: 1;
}